{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Welcome to Your STRIVE Dashboard</h1>
    <div class="row mt-4 overflow-hidden">
        <div class="col-md-12 mb-4 d-flex flex-nowrap">
            <div class="card me-3">
                <div class="card-body">
                    <h5 class="card-title">Today's Workout</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'addexercise' %}" class="btn btn-primary">Start Workout</a>
                </div>
            </div>
            <div class="card me-3">
                <div class="card-body">
                    <h5 class="card-title">Workout History</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'workouthistory' %}" class="btn btn-primary">View History</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personal Bests</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'index' %}" class="btn btn-primary">View Personal Bests</a>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="row mt-4">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="/static/1.png" alt="Description of your image" class="img-fluid" style="height: 400px;">
        </div>
    </div>
-->
</div>
{% endblock %}
